<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiskInspection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DiskInspection.Properties.Settings>
            <setting name="Cam1Sn" serializeAs="String">
                <value>21573792</value>
            </setting>
            <setting name="Cam2Sn" serializeAs="String">
                <value />
            </setting>
            <setting name="EndPointDebug" serializeAs="String">
                <value>check_disk_debug</value>
            </setting>
            <setting name="EndPointCheckStatus" serializeAs="String">
                <value>check_service_status</value>
            </setting>
            <setting name="ApiUrlAi" serializeAs="String">
                <value>http://127.0.0.1:8386/ai</value>
            </setting>
            <setting name="PlcIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Cam1Exposure" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Cam2Exposure" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SaveEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>D:\huynhvc\OTHERS\disk_checking\disk_checking\APP\out_test</value>
            </setting>
            <setting name="PlcPort" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="EndpointConnectPlc" serializeAs="String">
                <value>connect_plc</value>
            </setting>
            <setting name="EndpointDisconnectPlc" serializeAs="String">
                <value>disconnect_plc</value>
            </setting>
            <setting name="EndpointControlUvLight" serializeAs="String">
                <value>control_uv_light</value>
            </setting>
            <setting name="EndpointControlWhiteLight" serializeAs="String">
                <value>control_white_light</value>
            </setting>
            <setting name="EndpointCheckConnection" serializeAs="String">
                <value>check_connection</value>
            </setting>
            <setting name="EndpointOnErrorAbnormal" serializeAs="String">
                <value>on_error_abnormal</value>
            </setting>
            <setting name="ApiUrlCom" serializeAs="String">
                <value>http://127.0.0.1:8386/communication</value>
            </setting>
            <setting name="EndPointDebugUv" serializeAs="String">
                <value>check_disk_uv_debug</value>
            </setting>
            <setting name="EndpointReadTrigger" serializeAs="String">
                <value>read_trigger</value>
            </setting>
            <setting name="EndpointResetTrigger" serializeAs="String">
                <value>reset_trigger</value>
            </setting>
            <setting name="EndpointInspectWhiteLight" serializeAs="String">
                <value>check_disk_white</value>
            </setting>
            <setting name="EndpointInspectUvLight" serializeAs="String">
                <value>check_disk_uv</value>
            </setting>
            <setting name="StartShiftTime" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentOK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentNG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaitWhiteLightOn" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="WaitWhiteLightOff" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WaitUvLightOn" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="WaitUvLightOff" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SaveOption" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EndpointOnErrorMixing" serializeAs="String">
                <value>on_error_mixing</value>
            </setting>
            <setting name="CurrentWarning" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndpointOnOkSignal" serializeAs="String">
                <value>on_ok_signal</value>
            </setting>
            <setting name="DeleteDays" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EndpointOffOkSignal" serializeAs="String">
                <value>off_ok_signal</value>
            </setting>
        </DiskInspection.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>